$ff-main:'averta_demo_pe_cutted_demoRg',sans-serif;

$container:1200px;

$black: #000;

$grey: #565656;

$blue:#2639ED;

$white:#fff;

$btnradius:60px;

$transition: .2s all ease-in-out;

// breakpoints

$desktop:1200px;
$tablet:992px;
$tablet-small:768px;
$mobile:576px;