.box-desc {

    &__point {
       
        padding-top: 27px;
        
        

        color: #757575;
text-align: center;
font-family: Averta Demo PE Cutted Demo;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
        
        
    }
}



.box-desc {

    &__pink {
        max-width: 245px;
        padding-top: 27px;

        color: #757575;
        text-align: center;
        font-family: Averta Demo PE Cutted Demo;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}


.box-desc {

    &__ylw {
        max-width: 245px;
        padding-top: 27px;
        margin-left: 30px;

        color: #757575;
        text-align: center;
        font-family: Averta Demo PE Cutted Demo;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}

.box-desc {

    &__green {
        max-width: 245px;
        padding-top: 27px;
        margin-left: 30px;

        color: #757575;
        text-align: center;
        font-family: Averta Demo PE Cutted Demo;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}

